.sharebutton-corps {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.copylink_none {
    display: none;
}

.copylink_block {
    display: flex;
    justify-content: flex-end;
}

.copytext_open {
    display: block;
    background-color: hsla(248, 27%, 12%, 1);
    width: 0%;
    padding: 3%;
    border-radius: 16.5px;
    margin-right: 1%;
    border: none;
    animation-name: open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    color: rgba(255, 255, 255, 0.753);
}

@keyframes open {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

.copytext_close {
    display: block;
    background-color: hsla(248, 27%, 12%, 1);
    width: 40%;
    padding: 3%;
    border-radius: 16.5px;
    margin-right: 1%;
    border: none;
    animation-name: close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    color: rgba(255, 255, 255, 0.753);
}

@keyframes close {
    from {
        width: 40%;
    }
    to {
        width: 0%;
    }
}

.copytextbutton {
    display: block;
    background-color: hsla(249, 85%, 54%, 0.6);
    border-radius: 14px;
    margin-right: 10%;
    padding: 7%;
    border: none;
    color: rgba(255, 255, 255, 0.76);
    transition: 0.2s;
}

.copytextbutton:hover {
    cursor: pointer;
    background-color: hsla(249, 85%, 54%, 0.76);
    border-radius: 10px;
}

.copytextbutton:active {
    background-color: hsla(249, 98%, 52%, 0.932);
}

.copylink-button_block {
    display: block;
    background-color: hsla(249, 85%, 54%, 0.6);
    width: 7%;
    padding: 3%;
    border-radius: 16.5px;
    margin-right: 7.5%;
    transition: 0.2s;
}

.copylink-button_block:hover {
    cursor: pointer;
    background-color: hsla(249, 85%, 54%, 0.76);
    border-radius: 12px;
}

.copylink-button_none {
    display: none;
}

.svg_block {
    display: block;
}

.svg_none {
    display: none;
}